<template>
  <view>
    <scroll-view class = "appContent" v-if="darkMode">
      <Statusbar />
      <switch :on-value-change = "handleChange" :value="darkMode" />
      <Post v-for="post in posts" 
      :key="post.id" 
      v-bind:profileName="post.profileName" 
      v-bind:title="post.postTitle" 
      v-bind:picUrl="post.pictureURL" 
      v-bind:profilePicUrl="post.profilePicture"
      />
      <Pagefinish />
    </scroll-view>
    
    <scroll-view class = "appContentSwitched" v-if="!darkMode">
      <Statusbar />
      <switch :on-value-change = "handleChange" :value="darkMode" />
      <Post v-for="post in posts" 
      :key="post.id" 
      v-bind:profileName="post.profileName" 
      v-bind:title="post.postTitle" 
      v-bind:picUrl="post.pictureURL" 
      v-bind:profilePicUrl="post.profilePicture"
      />
      <Pagefinish />
    </scroll-view>
  </view>
</template>

<style>

.appContentSwitched{
  position:relative;
  align-content: center;
  background-color:white;
  width: 100%;
}

.appContent{
  position:relative;
  align-content: center;
  background-color: #1c1c1c;
  width:100%;
}

</style>

<script>
import Post from './components/post/Post';
import Statusbar from './components/statusbar/Statusbar';
import Pagefinish from './components/pagefinish/Pagefinish';

export default{
  data: function(){
    return{
      posts: [
        {
          id: 0,
          profilePicture: 'https://i.pinimg.com/564x/cd/cb/01/cdcb01ebeef668284a58c06f5b08708e.jpg',
          profileName: 'Noots',
          postTitle: 'my fav post',
          pictureURL: 'https://i1.sndcdn.com/artworks-60T5acZkPilLZTnc-qOoVZw-t500x500.jpg'
        } ,
        {
          id: 1,
          profilePicture: 'https://img.wattpad.com/cover/61392930-288-k852540.jpg',
          profileName: 'The Collector',
          postTitle: 'blank',
          pictureURL: 'https://cdna.artstation.com/p/assets/images/images/024/062/416/large/taku-artworks-tiara-by-the-pope.jpg?1581198882'
        } ,
        {
          id: 2,
          profilePicture: 'https://c.tenor.com/z6UAyJkECVAAAAAM/dat-boi-here-come-dat-boi.gif',
          profileName: 'Here_come_dat_boi',
          postTitle: 'reteta chec pufos',
          pictureURL: 'https://c.tenor.com/6_9oJ4U37pgAAAAM/rickroll-dance.gif'
        } ,
        {
          id: 3,
          profilePicture: 'https://c.tenor.com/z6UAyJkECVAAAAAM/dat-boi-here-come-dat-boi.gif',
          profileName: 'Lojokun',
          postTitle: 'reteta chec pufos',
          pictureURL: 'https://c.tenor.com/6_9oJ4U37pgAAAAM/rickroll-dance.gif'
        } ,
        {
          id: 4,
          profilePicture: 'https://c.tenor.com/z6UAyJkECVAAAAAM/dat-boi-here-come-dat-boi.gif',
          profileName: 'Here_come_dat_boi',
          postTitle: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dignissimos doloribus tenetur laborum natus, labore vero vel nam cumque hic praesentium qui inventore! Atque corporis, dicta ipsam maxime omnis ea.',
          pictureURL: 'https://c.tenor.com/6_9oJ4U37pgAAAAM/rickroll-dance.gif'
        } ,
        {
          id: 5,
          profilePicture: 'https://c.tenor.com/z6UAyJkECVAAAAAM/dat-boi-here-come-dat-boi.gif',
          profileName: 'Here_come_dat_boi',
          postTitle: 'reteta chec pufos',
          pictureURL: 'https://c.tenor.com/6_9oJ4U37pgAAAAM/rickroll-dance.gif'
        } ,
      ],
      shownPosts: [],
      currentPost: 0,
      darkMode: true
    }
  },
  components:{
    Post,
    Statusbar,
    Pagefinish
  },
  methods:{
    async fetch(){

      const thePosts = await axios.get('http://localhost:3000/data')

      this.shownPosts.push(...thePosts.data)

    },
    handleScrolledToBottom(isVisible){
      console.log("abc")
    },

    handleChange(val){
      this.darkMode = val;
    }
    
  }
}

</script>

