.appContentSwitched{
    position:relative;
    align-content: center;
    background-color:white;
    width: 100%;
  }
  
  .appContent{
    position:relative;
    align-content: center;
    background-color: #1c1c1c;
    width:100%;
  }