<template>
<view class="statusbar">
    <text class = "title">
        My first mobile app
    </text>
</view>
</template>

<style>

.statusbar{
    background-color: #1c1c1c;
    height: 2%;
}

.title{
    font-size: 30px;
    text-align: center;
    color: white;
}

</style>
