.pointsNumber {
  text-align:left;
}

.postContainer{
  padding: 15px;
  position: relative;
  align-content: center;
  background-color:#1c1c1c;
  width: 100%;
  height:auto;
}

.profile{
  margin: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: row;
  align-items: center;
}

.profileName{
  padding: 5px;
  font-size: 15px;
  position:relative;
  color:gray;
  font-style: italic;
}

.profilePic{
  width: 25;
  height: 25;
  border-radius: 5px;
}

.postTitle{
  font-size: 25px;
  height:auto;
  width: 75%;
  color:gray;
  padding: 5px;
  font-weight: bold;
}

.postContent {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.postContainer{
  padding: 10px;
  border-width: 1px;
}

.postImage{
  width: 100%;
  border-radius: 10px;
}

.pointsNumber {
  display:flex;
  width: 100%;
  align-items: center;
  color: royalblue;
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.buttons{
  padding: 10px;
  color:white;
  font-size:20px;
  width: 100%;
  display: flex;
  align-items:flex-end;
}

.upButton{
  padding: 5px;
  color:#05a30a;
  font-size: 20px;
  position: relative;
}

.downButton{
  padding: 5px;
  color:#910404;
  font-size: 20px;
  position: relative;
}

.upButtonPressed{
  padding: 5px;
  color:#00ff09;
  font-size: 20px;
  position: relative;
}

.downButtonPressed{
  padding: 5px;
  color:#ff0000;
  font-size: 20px;
  position: relative;
}