<template>
    <view>
        <text class="ending">{{ message }}</text>
    </view>
</template>

<style>
.ending{
    padding: 50px;
    color: gray;
    font-size: 30px;
}
</style>

<script>

export default{

    data: function(){
        return{
            message: 'That is it... for now'
        }
    }

}

</script>
